[submodule "iit-kgp/urbaneye"]
	path = iit-kgp/urbaneye
	url = https://github.com/rohit246/urbaneye.git
[submodule "hit/crowns"]
	path = hit/crowns
	url = https://github.com/souvikbasuhit/CROWNS.git
[submodule "iimc/NCoRe"]
	path = iimc/NCoRe
	url = https://github.com/moumita0979/NCoRe.git
[submodule "iiest/DisasterMessenger"]
	path = iiest/DisasterMessenger
	url = https://github.com/iiest-disarm/DisasterMessenger
[submodule "kgec/Rumor-code"]
	path = kgec/Rumor-code
	url = https://github.com/tamal13kgec/Rumor-code
[submodule "iit-kgp/disaster_summarizer"]
	path = iit-kgp/disaster_summarizer
	url = https://github.com/krudra/disaster_summarizer
[submodule "nit-dgp/psync-pc"]
	path = nit-dgp/psync-pc
	url = https://github.com/ItsForkIT/psync-pc
[submodule "nit-dgp/offlinemcs"]
	path = nit-dgp/offlinemcs
	url = https://github.com/ItsForkIT/offlinemcs
[submodule "nit-dgp/pdm"]
	path = nit-dgp/pdm
	url = https://github.com/ItsForkIT/pdm
